.main-content-podcasts {
	grid-row: 1/3;
	grid-column: 2/-1;
	background-image: url('imgPodcasts/sol.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #121212;
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.title-section-podcasts {
	background-color: #292929;
	font-size: 2.2rem;
	border-radius: 6px;
	color: #f3ffb0;
	cursor: pointer;
	font-weight: 600;
	width: auto;
	text-align: center;
	padding: 10px;
}

.title-section-podcasts:hover {
	text-decoration: underline;
}

.container-name-podcasts,
.container-name-soloen-spotify {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}

.container-card-podcasts,
.container-card-soloen-spotify {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2.4rem;
}

.card-podcasts,
.card-soloen-spotify {
	background-color: #181818;
	border-radius: 6px;
	padding: 1.6rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	cursor: pointer;
	position: relative;
}

.card-podcasts:hover,
.card-soloen-spotify:hover {
	background-color: #282828;
}

.card-img img {
	width: 100%;
	border-radius: 0.5rem;
}

.card-img {
	overflow: hidden;
}

.card h2 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 0.75rem;
	color: #fff;
	font-weight: 600;
}

.card p {
	font-size: 0.8rem;
	color: #b3b3b3;
	font-weight: 400;
	line-height: 1.5;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.container-name-categorias {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}

.card-categorias:hover .play-icono{
	animation: moverPlay 1s forwards;
}

.card-soloen-spotify:hover .play-icono{
	animation: moverPlay 1s forwards;
}

.card-podcasts:hover .play-icono{
	animation: moverPlay 1s forwards;
}

@keyframes moverPlay {
    0% {
      margin-top: -30px;
      margin-left: 90px;
    }
  
    100% {
      margin-top: -60px;
      margin-left: 90px;
      opacity: 1;
    } 
  }
  
.container-card-categorias {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2.4rem;
}

.card-categorias {
	background-color: #181818;
	border-radius: 6px;
	padding: 1.6rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	cursor: pointer;
	position: relative;
}

.card-categorias:hover {
	background-color: #282828;
}

.card-categorias .card-img img {
	width: 100%;
	border-radius: 6px;
}

.card-categorias .card-img {
	overflow: hidden;
}

.card-categorias h2 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 0.75rem;
	color: #fff;
	font-weight: 600;
}

.card-categorias p {
	font-size: 1.3rem;
	color: #b3b3b3;
	font-weight: 400;
	line-height: 1.5;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}